@import url("https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Fredoka:wght@300..700&display=swap");

.section {
  background: #007cbf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 50px;
}

.hero_section {
  font-size: 1.7rem;
  max-width: 1000px;
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  color: white;
}